<div class="container">
  <div class="row text-center mb-3">
    <div class="col">
      <img src="/img/burger-alpha.png" alt="Burger icon" width="25%">
      <h1>Eat-Da-Burger!</h1>
      <form class="create-burger">
        <div class="form-group">
          <input class="form-control form-control-lg my-2" type="text" id="burger-name" placeholder="Burger name"
            name="name">
        </div>
        <button class="btn btn-outline-red" type="submit">Add Burger</button>
      </form>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <h3>Burgers Available</h3>
      <ul class="list-group">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burger devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <h3>Burgers Devoured</h3>
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
          {{> burger devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>